
body{

  font-family: Ubuntu;
}
.maincontainer{
background-image: url(yoga2.jpg);
background-image: url(yoga2.jpg);
height: 800px;
}
.navheading{
  font-size: 3rem;
  color: #DD5353;
}
.navtext{
  margin-top: 25px;
  color: #CFD2CF;
}
.gridheading{
  margin-top: 60px;
  color: #73777B  ;
  font-size: 5rem;
  margin-bottom: 50px;
}
.gridpara{
    color: #CFD2CF;
}
.griddiv{
  margin-right: -100px;
}
.container2{
  height: 400px;
background-color: black;
  padding-top: 50px;

}
.grid2div{
  height: 300px;
  padding: 30px;
  background-image: linear-gradient(to bottom right, #73777B,black);
  margin-right: 5px;
}

.grid3div{
  height: 300px;
  padding: 30px;
  background-image: linear-gradient(to bottom right, #73777B,black);
  margin-left: 5px;
}
.gpara{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.container3{

text-align: center;

  background-image: linear-gradient(to right,#73777B,black);
}
.charheading{
  font-size: 100px;
    display: block;
    color: #2c234d;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 1px #f6f7f8;
    -webkit-text-fill-color: transparent;
}
.container4{
  background-color: black;
  padding: 40px;
}
.card{
    background-image: linear-gradient(black,black);
text-align:left;
}
.cardheading{
  text-align: center;
  font-size: 100px;
    display: block;
    color: #2c234d;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 1px #f6f7f8;
    -webkit-text-fill-color: transparent;
}

.card-subtitle{
  color: red;

}
.cont1{
  margin: 10px;
  border-width: thin;
  border-color: white;
  border-style: solid;
}
.container5{
  height: 500px;
    background-image: linear-gradient(to right,#73777B,black);
}
